<!DOCTYPE html>
<html lang="en">
<head>
  
  {% block title %}<title>shopping site</title>{% endblock %}
  <meta charset="utf-8">
  {% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
<div>
    <div class="row">
      <div class="col-sm-4">
      {% block sidebar %}
      <ol class="sidebar-nav">
          <li> <a href="/orders/">List all my Orders</a></li>
          <li> <a href="/CreateOrder/">Create an Order</a></li>
          <li> <a href="">Delete an order</a> </li>
          <li> <a href="">Edit an order</a> </li>
      <ol>
     {% endblock %}
      </div>
      <div class="col-sm-8">
  <h1>Shopping site</h1>
  </div>
    </div>
{% block content %}{% endblock %}
  </div>
</body>
</html>