<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
  
  {% block title %}<title>shopping site</title>{% endblock %}
  {% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
<nav class="navbar navbar-inverse">
<div class="container-fluid">
      <div class="navbar-header">
     	<a class="navbar-brand" href=""> Shopping site </a>
      <ul class="nav navbar-nav">
      	  <li> <a href="/"> Back home </a></li>
          <li> <a href="/orders/"> List all my Orders </a> </li>
          <li> <a href="/CreateOrder/"> Create an Order </a> </li>
          <li> <a href="/orders/"> Delete an order</a> </li>
          <li> <a href="/orders/"> Edit an order </a> </li>
      <ul>     
  </nav>
  {% block content %}{% endblock %}
</body>
</html>