{% extends "base_generic.html" %}

{% block content %}
<div class="text-center">
    {% if order_list %}
    <table padding= .5em class="table-bordered">
		<th> Order Number </th>
    	<th> Customer Name </th> 
    	<th> Product Name </th>
    	<th> comments </th>
      {% for order in order_list %}
      <tr>

       <td>{{ order.order_id }}</td>
       <td>{{ order.customer }}</td>
       <td>{{ order.product }}</td>
       <td>{{ order.comments }}</td>
      </tr>
      {% endfor %}

   </table>
    {% else %}
      <p>There are no orders that have been placed.</p>
    {% endif %}
</div>       
{% endblock %}

